* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%; margin: 0px; padding: 0px;
}

/* #full { height: 100% } */

body {
  background: #0B0547;
  background-image: url("../assets/bg-corner.png");
  background-repeat: no-repeat;
  color: white;
  /* height: 100%; margin: 0px; padding: 0px; */
}

.loader{
  margin: 0 0 2em;
  height: auto;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: auto;
  vertical-align: center;
}

.swal2-container {
  z-index: 19000;
}

.swal2-title {
  color: white;
}

.swal2-html-container, .swal2-title{
  color: white !important;
}