.Staking h1 {
  margin-top: 1.2em;
}
.icon {
  height: 7em;
  margin-top: 2em;
  opacity: 0.8;
}

p {
  color: #fff;
}

.inputDiv {
  padding: 3em;
  height: 5em;
  align-items: center;
}

.inputGroup{
  margin: 0px 0px 20px 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.inputField{
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}
.inputField:focus {
  box-shadow: none !important;
}
.Dot{
  position: relative;
  /* padding: 0px 15px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.commonText{
  color: red;
  font-size: small;
}
.commonTextMax{
  color: green;
  font-size: small;
}
/* .Dot::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0.575rem;
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 9999px;
  background-image: linear-gradient(115.52deg,#3AF485 0,#09BDBB 147.76%);
} */
.customNavbar{
  background-color: transparent;
  padding: 20px 0px !important;
}

.input {
  height: 3em;
  width: 37em;
  border-radius: 0.5em;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
  border: 0.2em solid rgba(23, 60, 139, 0.301);
}

.totals {
  margin-top: 3em;
  height: 3em;
}

.goMax {
  cursor: pointer;
}

.connect-btn:hover {
  background-color: #122747;
}

.connect-btn {
  background:
  'transparent';
  border-color: 'grey';
  border-radius: 12;
}

.disconnect-btn {
  background:
  'transparent';
  border-color: 'grey';
  border-radius: 12;
}

.disconnect-btn:hover {
  background-color: #ad5252;
}

.stakeButton {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1em;
  border: white solid 0.05em;
  border-radius: 0.5em;
  height: 3em;
  width: 15em;
  margin-top: 1em;
  cursor: pointer;
}

.stakeButton:hover {
  background-color: #2675cf;
}

.unstakeButton {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1em;
  border: white solid 0.05em;
  border-radius: 0.5em;
  height: 3em;
  width: 15em;
  margin-top: 1em;
  cursor: pointer;
}

.stakeButton:focus {
  outline: none;
 }

.unstakeButton:hover {
  background-color: #1c375f;
}

.unstakeButton:focus {
 outline: none;
}

.stakeIcon {
  height: 2em;
  position: relative;
  top: 0.1em;
  right: 1em;
}

.stakeButton p {
  display: inline;
  position: relative;
  bottom: 0.5em;
}

.unstakeButton p {
  display: inline;
  position: relative;
  bottom: 0.5em;
}
